<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!--<property name="connection.url"/>-->
        <!--<property name="connection.driver_class"/>-->
        <property name="connection.username">root</property>
        <property name="connection.password">Developer123</property>
        <!-- DB schema will be updated if needed -->
        <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://192.168.1.43:3306/datasynthesis?serverTimezone=UTC</property>
        <!-- JDBC connection pool settings ... using built-in test pool -->
        <property name="connection.pool_size">10</property>
        <!-- Select our SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <!-- Echo the SQL to stdout -->
        <property name="show_sql">true</property>
        <!-- Set the current session context -->
        <property name="current_session_context_class">thread</property>
        <!-- Drop and re-create the database schema on startup -->
        <property name="hbm2ddl.auto">create-drop</property>
        <!-- dbcp connection pool configuration -->
        <property name="hibernate.dbcp.initialSize">5</property>
        <property name="hibernate.dbcp.maxTotal">20</property>
        <property name="hibernate.dbcp.maxIdle">10</property>
        <property name="hibernate.dbcp.minIdle">5</property>
        <property name="hibernate.dbcp.maxWaitMillis">-1</property>
        <mapping resource="AuditingDatarequestEntityhbm.xml"/>
        <mapping resource="AuditingDatarequestdetailEntityhbm.xml"/>
        <mapping resource="DatabuiltAddressEntityhbm.xml"/>
        <mapping resource="DatabuiltNamesEntityhbm.xml"/>
        <mapping resource="DatabuiltPhonenumbersEntityhbm.xml"/>
        <mapping resource="DataexistingAbabankingEntityhbm.xml"/>
        <mapping resource="DataexistingAreacodeEntityhbm.xml"/>
        <mapping resource="DataexistingAreacodeintlEntityhbm.xml"/>
        <mapping resource="DataexistingCompaniesEntityhbm.xml"/>
        <mapping resource="DataexistingNamefirstEntityhbm.xml"/>
        <mapping resource="DataexistingNamelastEntityhbm.xml"/>
        <mapping resource="DataexistingUpccodesEntityhbm.xml"/>
        <mapping resource="DataexistingZipcodeintlEntityhbm.xml"/>
        <mapping resource="DataexistingZipcodeusEntityhbm.xml"/>
        <mapping resource="DatageneratedAccountnumbersEntityhbm.xml"/>
        <mapping resource="DatageneratedAddressesEntityhbm.xml"/>
        <mapping resource="DatageneratedBankaccountEntityhbm.xml"/>
        <mapping resource="DatageneratedCreditcardEntityhbm.xml"/>
        <mapping resource="DatageneratedDateofbirthEntityhbm.xml"/>
        <mapping resource="DatageneratedDriverslicensesEntityhbm.xml"/>
        <mapping resource="DatageneratedEinEntityhbm.xml"/>
        <mapping resource="DatageneratedPhonenumberEntityhbm.xml"/>
        <mapping resource="DatageneratedPhonenumbersintlEntityhbm.xml"/>
        <mapping resource="DatageneratedSocialsecuritynumberEntityhbm.xml"/>
        <mapping resource="DatageneratedUseridentitiesEntityhbm.xml"/>
        <mapping resource="DatamodelDatatablesEntityhbm.xml"/>
        <mapping resource="MapDelimiteddatamapdetailtocodesetsEntityhbm.xml"/>
        <mapping resource="MapDelimiteddatamapdetailtodataattributesEntityhbm.xml"/>
        <mapping resource="MapDelimiteddatamapdetailtovendordatamodelEntityhbm.xml"/>
        <mapping resource="MapDelimiteddatamappingdetailEntityhbm.xml"/>
        <mapping resource="MapDelimiteddatamappingheaderEntityhbm.xml"/>
        <mapping resource="PlatformAppsettingEntityhbm.xml"/>
        <mapping resource="PlatformDataattributesEntityhbm.xml"/>
        <mapping resource="PlatformDatagenconfigEntityhbm.xml"/>
        <mapping resource="PlatformDatastructuresEntityhbm.xml"/>
        <mapping resource="PlatformDatastructurestodataattributesEntityhbm.xml"/>
        <mapping resource="PlatformRulesetsEntityhbm.xml"/>
        <mapping resource="PlatformRulesetsattributesEntityhbm.xml"/>
        <mapping resource="PlatformRulesetsdefinitionsEntityhbm.xml"/>
        <mapping resource="RefdataAddressformattypeEntityhbm.xml"/>
        <mapping resource="RefdataApplicationEntityhbm.xml"/>
        <mapping resource="RefdataCodesetEntityhbm.xml"/>
        <mapping resource="RefdataCodesetvaluesEntityhbm.xml"/>
        <mapping resource="RefdataCountriesEntityhbm.xml"/>
        <mapping resource="RefdataIndustrystdEntityhbm.xml"/>
        <mapping resource="RefdataOperationtypeEntityhbm.xml"/>
        <mapping resource="RefdataOrganizationEntityhbm.xml"/>
        <mapping resource="RefdataSensitivityflagEntityhbm.xml"/>
        <mapping resource="RefdataStatusEntityhbm.xml"/>
        <mapping resource="RefdataTimezonesEntityhbm.xml"/>
        <mapping resource="RefdataUsstatesEntityhbm.xml"/>
        <mapping resource="RefdataVendorEntityhbm.xml"/>
        <mapping resource="TermsCodesetstoapplicationEntityhbm.xml"/>
        <!--<mapping class="net.javaguides.hibernate.entity.Student" />-->
    </session-factory>
</hibernate-configuration>